@model IEnumerable<UserInfo> 

   
<div class="top-buffer"></div> 
<div class="panel panel-primary"> 
    <div class="panel-heading panel-head">Users</div> 
    <div class="panel-body"> 
        <div class="btn-group">
            <a asp-action="AddUser" class="btn btn-primary"> 
                <i class="fa fa-plus" aria-hidden="true"></i>  Add User 
            </a> 
        </div> 
        <div class="top-buffer"></div> 
        <table class="table table-bordered table-striped table-condensed"> 
            <thead> 
                <tr> 
                    <th>User Name</th> 
                    <th>Email</th>    
                    <th>Action</th> 
                </tr> 
            </thead> 
            <tbody> 
                @foreach (var item in Model) 
                { 
                    <tr> 
                        <td>@item.UserName</td> 
                        <td>@item.Email</td>    
                        <td> 
                            <a asp-action="EditUser" asp-route-id="@item.Id" class="btn btn-outline-secondary"> 
                                <i class="fa fa-pencil"></i>  Edit 
                            </a>
                            <a asp-action="DeleteUser" asp-route-id="@item.Id" class="btn btn-outline-secondary"> 
                                <i class="fa fa-trash"></i>  Delete 
                            </a>
                        </td> 
                    </tr> 
                } 
            </tbody> 
        </table> 
    </div> 
</div> 
   
