@model ApplicationRoleViewModel 

<div class="modal-body form-horizontal">
    <div class="row">
        <input type="hidden" asp-for="Id" />
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="RoleName" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="RoleName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Description" class="form-control" />
                </div>
            </div>
        </div>       
    </div>
</div>
<div class="form-group">
    <div class="col-md-6 offset-md-3">
        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
    </div>
</div>

@*


 <div>
    <h4>Add Or Edit Role</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd class = "col-sm-10">
           <input asp-for="RoleName"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            <input asp-for="Description"/>
        </dd>
    </dl>
</div>
<div class="form-group">
    <div class="row">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</div>
<div>    
    <a asp-controller="ApplicationRole" asp-action="Roles">Back to List</a>
</div>*@

