@model ApplicationRoleViewModel 

<div class="modal-body form-horizontal">
    <div class="row">
        <input type="hidden" asp-for="Id" />
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="Name" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Description" class="form-control" />
                </div>
            </div>
        </div>       
    </div>
</div>
<div class="form-group">
    <div class="col-md-6 offset-md-3">
        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
    </div>
</div>


